{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Contact</h1>
    </div>
    <div class="container">
        <h2>Mes coordonnées</h2>
        <dl class="row">
            <dt class="col-sm-3">Nom</dt>
            <dd class="col-sm-9">Doe</dd>

            <dt class="col-sm-3">Prénom</dt>
            <dd class="col-sm-9">
                John
            </dd>

            <dt class="col-sm-3">email</dt>
            <dd class="col-sm-9">john.doe@local.com</dd>

            <dt class="col-sm-3 text-truncate">A propos</dt>
            <dd class="col-sm-9">Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit a.
            </dd>
        </dl>
        <div class="row justify-content-md-center">
            <div class="col-md-auto mb-5 mt-3">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1svfWxNbnFLgQ5rmkc_HdOrm72wzFw9vL" width="640" height="480"></iframe>
            </div>
        </div>
    </div>
{% endblock%}