{% extends 'base.html.twig' %}

{% block title %}Éditer une option{% endblock %}

{% block body %}
    <div class="container">
        <h1>Éditer une option</h1>
        {{ include('admin/options/_forms.html.twig') }}
    </div>
{% endblock %}
